<div *ngIf="showInfo">
    <div class="container m-5">
        <div class="card text-center m-5">
            <div class="card-header">
                <img [src]="selecterBussines.logo">
            </div>
            <div class="card-body">
                <h1><span class="badge bg-info text-dark">{{selecterBussines.name}}</span></h1>
                <h1><span class="badge bg-info text-dark ">{{selecterBussines.country}}</span></h1>
                <button class="btn btn-warning btn-lg m-2" (click)="seeMap(selecterBussines.location)">Location</button>
                <button class="btn btn-primary btn-lg " (click)="back()"> Go back</button>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>
    </div>
</div>