<div *ngIf="showInfo">
    <div class="container m-5">
        <div class="card ">
            <div class="card-body">
                <h1 class="card-title">{{selecterBussines.name}}</h1>
                <img [src]="selecterBussines.logo">
                <p class="card-text">{{selecterBussines.description}}</p>
                <p class="card-text">{{selecterBussines.country}}</p>
                <button class="btn btn-primary m-2" (click)="seeMap(selecterBussines.location)">See map</button>
                <button class="btn btn-primary" (click)="back()"> Go back</button>
            </div>
        </div>
    </div>
</div>