<!--<div *ngFor="let item of displayItems; let i = index" class="d-flex flex-row justify-content-around">
    <mat-card >
        <mat-card-title>{{item.name}}</mat-card-title>
        <mat-card-content>{{item.location.latitude}} {{item.location.longitude}}</mat-card-content>
    </mat-card>
</div>-->
<div class="container">
    <div>
        <div class="row app-container">
            <div *ngFor="let item of displayItems; let i = index" class="card mb-2 m-3" style="width: 18rem;">
                <img class="card-img-top" [src]="item.logo" [alt]="item.id">
                <div class="card-body">
                    <h1 class="card-title">{{item.name}}</h1>
                    <p class="card-text">{{item.country}}</p>
                    <p class="card-text">{{item.description}}</p>
                    <button class="btn btn-primary" (click)="Select(item)">Perfil</button>
                </div>
            </div>
        </div>
    </div>
</div>